* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
}
body h1 {
  font-size: 3rem;
}
body h2 {
  font-size: 2rem;
}
body h3 {
  font-size: 1.7rem;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
}
.logo-container .logo {
  border-radius: 75px;
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}

.img {
  max-width: 100%;
}

header {
  background-color: #218380;
  padding: 2rem 0 1rem 0;
  top: 0;
}

.estilo-titulo-principal {
  font-family: Georgia, "Times New Roman";
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  color: #f0efef;
  display: inline-block;
  margin-left: 1rem;
}

.nav__list {
  list-style: none;
}
.nav__list li {
  display: inline-block;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

.nav__link {
  color: #f5c2d5;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link:hover {
  transition: all 0.2s ease-in;
}

main {
  padding-top: 2rem;
}
main .intro-section {
  display: flex;
}

.alineacion-bienvenida {
  width: 50%;
}
.alineacion-bienvenida .texto-bienvenida {
  font-size: 16px;
  text-align: left;
  padding-left: 2rem;
  line-height: 1.75;
}

#video-bienvenida {
  width: 50%;
  height: 400px;
}

.admisiones {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin-top: 1rem;
}

.admisiones a,
.button {
  color: #f0efef;
  padding: 1rem;
  background: #218380;
  text-decoration: none;
  border-radius: 4px;
  border: 0;
  margin-bottom: 1rem;
}

.grid-container {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "title title" "image welcome-text" "text map";
}

.grid-item {
  padding: 20px;
}

.grid-item-1 {
  grid-template-areas: title;
}

.grid-item-2 {
  width: 400px;
  grid-template-areas: image;
}

.grid-item-3 {
  grid-template-areas: welcome-text;
}

.grid-item-4 {
  grid-template-areas: text;
  order: 2;
  align-self: auto;
}

.grid-item-5 {
  grid-template-areas: map;
  width: 400px;
  height: 300px;
}

.table {
  width: 70%;
  margin: auto;
}

.container {
  width: 90%;
  margin: auto;
}

.col-container {
  width: 80%;
  margin: auto;
  text-align: justify;
}

.col-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.col-title h1 {
  font-size: tamano-1.5rem;
}
.col-title h2 {
  font-size: tamano-1.5rem-1rem;
}
.col-title h3 {
  font-size: tamano-1.5rem-1.3rem;
}

.col-title-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.col-picture {
  margin-bottom: 2rem;
  width: 50%;
  margin-left: 20%;
  text-align: center;
}

.title {
  text-align: center;
}

.box-shadow {
  box-shadow: 0 0 14px #cacaca;
}

.card {
  color: rgb(14, 13, 13);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 280px;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card p {
  text-align: center;
  margin: 0.5rem 0;
}

.card-content {
  padding: 1.5rem;
  background: linear-gradient(black, rgba(0, 0, 0, 0.5));
  transform: translateY(65%);
  transition: transform 700ms ease;
}

.card:hover .card-content {
  transform: translateY(0);
  transition-delay: 500ms;
}

.card-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}
.card-container article {
  display: flex;
  flex: 0 1 300px;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 2rem;
}
.card-container article img {
  order: -1;
  align-self: center;
  margin-bottom: 0.5rem;
}

.form {
  text-align: center;
}
.form > fieldset {
  max-width: 600px;
  margin: 1rem auto;
  background: rgb(88, 163, 161);
  background: radial-gradient(circle, rgb(88, 163, 161) 0%, rgb(190, 215, 215) 71%);
  text-align: center;
}

.form > fieldset > div {
  padding: 0.4rem;
  margin-top: 1rem;
}

.form > fieldset label {
  width: 40%;
  text-align: right;
  vertical-align: top;
}

.form > fieldset input,
.form > fieldset textarea,
.form > fieldset select {
  width: 55%;
}

footer {
  background-color: #218380;
  padding: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

footer div {
  width: 250px;
  display: inline-block;
  text-align: center;
  color: white;
  margin: 0 auto;
}
footer div .footer__equipo {
  text-align: left;
  font-size: 17px;
  color: white;
}

.imagen-equipo {
  margin-top: 0.5rem;
  filter: invert(1);
}

.redes {
  text-align: center;
  font-size: 17px;
  display: inline-block;
}

.redes-icono {
  display: inline-block;
  color: white;
}

.copyright {
  text-decoration: none;
  text-align: center;
}

.imagen-copyright {
  margin-top: 0.5rem;
  filter: invert(1);
}

@media (max-width: 768px) {
  .estilo-titulo-principal {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .logo-container {
    display: block;
    text-align: center;
  }
  .nav__list li {
    display: block;
  }
  main .intro-section {
    display: initial;
  }
  #video-bienvenida {
    width: 100%;
  }
  .alineacion-bienvenida {
    width: 100%;
  }
  .grid-container {
    display: initial;
    padding: initial;
  }
  .grid-item-2 {
    width: 100%;
  }
  .grid-item-5 {
    width: 100%;
  }
  .table {
    font-size: 10px;
  }
  .form > fieldset label {
    width: 100%;
    text-align: center;
  }
  .form > fieldset input,
  .form > fieldset textarea,
  .form > fieldset select {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .grid-item-2 {
    width: 500px;
  }
  .grid-item-5 {
    width: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
