.form {
  text-align: center;
}
.form > fieldset {
  max-width: 600px;
  margin: 0 auto;
}

.form > fieldset > div {
  padding: 0.4rem;
}
.form > fieldset label {
  width: 40%;
  text-align: right;
  vertical-align: top;
}
.form > fieldset input,
.form > fieldset textarea,
.form > fieldset select {
  width: 55%;
}
