.container {
  width: 90%;
  margin: auto;
}

.col-container {
  width: 80%;
  margin: auto;
  text-align: justify;
}
.col-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 15%;
}
.col-title-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.col-picture {
  margin-bottom: 2rem;
  width: 50%;
  margin-left: 20%;
  text-align: center;
}
