@mixin encabezados($tamano) {
  h1 {
    font-size: $tamano;
  }
  h2 {
    font-size: $tamano - 1rem;
  }
  h3 {
    font-size: $tamano - 1.3rem;
  }
}

body {
  font-family: $font-family-general;
  @include encabezados(3rem);
  min-height: 100vh;
}

.logo-container {
  display: inline-block;
  vertical-align: middle;
  .logo {
    border-radius: 75px;
  }
}

.container {
  margin: 0 auto;
  max-width: 1320px;
}
.img {
  max-width: 100%;
}
header {
  background-color: $background-color;
  padding: 2rem 0 1rem 0;

  top: 0;
}

.estilo-titulo-principal {
  font-family: $font-family-title;
  font-weight: 400;

  text-align: center;
  text-transform: capitalize;
  color: #f0efef;
  display: inline-block;
  margin-left: 1rem;
}

.nav__list {
  list-style: none;
  li {
    display: inline-block;
    padding: 1rem;
    font-family: $font-family-general;
  }
}
.nav__link {
  color: $color-nav;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__link:hover {
  transition: all 0.2s ease-in;
}

main {
  padding-top: 2rem;
  .intro-section {
    display: flex;
  }
}

.alineacion-bienvenida {
  width: 50%;
  .texto-bienvenida {
    font-size: 16px;
    text-align: left;
    padding-left: 2rem;
    line-height: 1.75;
  }
}

#video-bienvenida {
  width: 50%;
  height: 400px;
}
.admisiones {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  margin-top: 1rem;
}
.admisiones a,
.button {
  color: $text-color-especial;
  padding: 1rem;
  background: #218380;
  text-decoration: none;
  border-radius: 4px;
  border: 0;
  margin-bottom: 1rem;
}
