* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$background-color: #218380;
$text-color-especial: #f0efef;
$color-nav: #f5c2d5;
$color-card: rgb(14, 13, 13);
$font-family-general: "Raleway", sans-serif;
$font-family-title: Georgia, "Times New Roman";
